/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    min-width:21cm;
    height:350cm;
    display:block;
}

.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:-2;
}

.twinkling {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:-1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

h1 {
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 24px;
}

h2 {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 24px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sun {
    height: 1.98957cm;
    width: 1.98957cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.suntome {
    height: 2.622cm;
}

.mercury {
    height: auto;
    width: 0.697cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.metov {
    height: 1.682cm;
}

.venus {
    height: auto;
    width: 1.729cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vtoe {
    height: 1.691cm;
}

.earth {
    height: auto;
    width: 1.822cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.etoma {
    height: 2.813cm;
}

.mars {
    height: auto;
    width: 0.97cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.matoj {
    height: 22.267cm;
}

.jupiter {
    height: auto;
    width: 20.426cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jtos {
    height: 22.267cm;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}